body {
}

#ping-pong {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#items-basket {
  display: flex;
  flex-direction: row;
}

#item-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#basket {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.basket-item {
  display: flex;
  justify-content: space-between;
}
